@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;

}

/* TEXT STYLES */


h1, h2, p {
	text-align: center;	
}

.name {
	font-size: 18pt;
}

.truth, .lie {
font-size: 16pt;
padding: 10px 12px 0px 15px;
height: 90px;
vertical-align: middle;
color: #fff;
}

.lie:hover {
	background-color: pink;
}


/* LAYOUT */
.container {
width: 900px;
min-height: 1550px;
background-color: red;
padding: 30px;
margin-right: auto; 
margin-left: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

.person {
	background-color: green;
	border-style: solid;
	position: relative;
	float: left;
	clear: both;
}

.name {
	width: 840px;
	height: 30px;
	background-color: grey;
	float:left;
	margin-left: 15px;
	

}
.photo {
	width: 300px;
	height: 300px;
	background-color: yellow;
	overflow: hidden;
	float:left;
	margin: 5px 15px 15px 15px;
}

img {
	max-width: 100%;
}

.details {
width: 510px;
height: 300px;
background-color: blue;
float:left;
margin: 5px 15px 15px 15px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}


/* RESOURCES */

.row {
	position: relative;
	float: left;
	clear: both;
	height: 60px;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;

}

.row:hover{
	background-color: #8ce0ed;
	width: 100%;
}

p.resource{
	position: relative;
	float: left;
	clear: both;
	text-align: left;
	font-size: 16pt;
	font-weight: 700;
	height: 50px;
	line-height: 20pt;
	padding-left: 18px;
	font
}

p.description{
	text-align: left;
	font-size: 16pt;
	line-height: 20pt;
	height: 50px;
	float:left;
	font-weight: 300;
	
}
