@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;

}

/* TEXT STYLES */


h1, h2, p {
	text-align: center;	
}

.name {
	font-size: 18pt;
}

.truth, .lie {
font-size: 16pt;
padding: 10px 12px 0px 15px;
height: 90px;
vertical-align: middle;
color: #333;
}

.lie:hover {
	background-color: #8CE0ED;
}

.right, .wrong {
font-size: 16pt;
padding: 10px 50px;
vertical-align: middle;
color: #333;
}

.wrong:hover {
	background-color: #8CE0ED;
}

/* LAYOUT */
.container {
width: 900px;
min-height: 1550px;
/*background-color: red;*/
padding: 30px;
margin-right: auto; 
margin-left: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

.person {
	/*background-color: green;*/
	border-style: solid;
	position: relative;
	float: left;
	clear: both;
}

.name {
	width: 840px;
	height: 30px;
	/*background-color: grey;*/
	float:left;
	margin-left: 15px;
	

}
.photo {
	width: 300px;
	height: 300px;
	/*background-color: yellow;*/
	overflow: hidden;
	float:left;
	margin: 5px 15px 15px 15px;
}

img {
	max-width: 100%;
}

.details {
	width: 510px;
	height: 300px;
	/*background-color: blue;*/
	float:left;
	margin: 5px 15px 15px 15px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

.items {
	/*background-color: green;*/
	border-style: solid;
	position: relative;
	padding: 5px;
}

.question {
	/*background-color: orange;*/
	padding: 10px;
	font-size: 1.75em;
}

.answers {
	/*background-color: blue;*/
	padding: 10px 0;
}